

:root{
    --primary_color0: #AB2E32;
    --primary_color: #F75C60; 
    --primary_color2: #FF787C ; 
    --secondary_color0: #cbffd6;
    --secondary_color: #81FAA1;
    --secondary_color2: #1DAB43;

    --bord: 2px solid black;
}

*{
    margin:0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaina 2', cursive;
}

/* Navigation bar... */
#navbar{
    display: flex;
    height: 64px;
    position: fixed;
    z-index: 3;
    width: 100%;
}

        #navbar::before{
            content: '';
            background-color: var(--secondary_color0);
            position: fixed;
            opacity: 0.5;
            z-index: -1;
            height: 64px;
            width: 100%;
        }
    
        /* Logo... */
        #logo{
            margin: 7px 40px;
            height: 50px;
        }

        /* Navigators... */
        #navbar ul{
            margin-top: 17px;
            display: flex;
            margin-left: 900px;
        }

        #navbar ul li{
            list-style: none;
            padding: 0px;
        }

        #navbar ul li a{
            font-weight: bold;
            font-size: 19px;
            padding: 0px 15px;
            margin: 0px 2px;
            text-decoration: none;
            border: 2px;
            color: var(--primary_color0);
        }

                #navbar ul li a:hover{
                    color: var(--primary_color);
                    background-color: var(--secondary_color0);
                    text-decoration: underline;
                    border-radius: 100px;
                }    
            
        /* Cart icon... */
        #cart{
            margin-top: 0px;
            padding: 5px 20px;
            height: 23px;
            border-left: 2px solid black ;
        }

                #cart:hover{
                    border: 2px solid var(--primary_color);
                    border-radius: 10px;
                    background-color: var(--secondary_color0);
                }

/* entry page... */
#firstPage{
    top: 0;
    left: 0;
    /* width: 98.8vw; */
    width: 100%;
    height: 72vh;
    border-bottom: 2px solid var(--primary_color0);
}

        #firstPage::before{
            content: '';
            background: url(img/book_open.jpg) no-repeat center center/cover;
            position: absolute;
            top: 0;
            z-index: -1;
            height: 71vh;
            width: 100%;
        }

        #container1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            position: absolute;
            top: 170px;
            left: 55vw;
            width: 600px;
            text-align: center;
            color: var(--secondary_color0);
            text-shadow: 3px 3px black;
            font-size: 40px;
            font-weight: bold;
        }
        /* Donate button... */
        #donate{
            color: var(--primary_color);
            border: 2px solid var(--primary_color0);
            background-color: var(--secondary_color0);
            text-shadow: none;
            width: 350px;
            height: 70px;
            border-radius: 10px;
            box-shadow: 3px 3px var(--primary_color2);
            text-decoration: none;
        }

                #donate:hover{
                    border: 2px solid var(--primary_color);
                    box-shadow: 3px 3px var(--primary_color);
                    width: 360px;
                }   

/* Why donate */
#secondPage{
    margin-top: -25px;
    display: grid;
    grid-gap: 2px;
    grid-template-areas: 
    'h1 h1 h1' 
    'item1 item2 item3';
}
            .items{
                border: 3px solid var(--primary_color0);
                padding: 5px 15px;
                margin: 10px;
                text-align: center;
                background-color: white;
                border-radius: 10px;
                font-size: 22px;
            }

            .items p{
                width: 300px;
                height: 70px;
                margin: auto;
                font-size: 18px;
            }

            #secondPage h1{
                margin-top: 50px;
                font-size: 30px;
                text-align: center;
                grid-area: h1;
                color: var(--primary_color);
            }

            #secondPage img{
                padding: 2px;
                margin: 5px;
                border: 3px solid var(--primary_color2);
                border-radius: 100px;
                width: 120px;
                height: 120px;
            }

/* Mission... */
#mission{
    width: 1500px;
    border-radius: 10px ;
    margin: auto;
    margin-top: 40px;
    height: 410px ;
}   

            #mission h1{
                margin-top: 70px;
               margin-left: 50px;
               margin-bottom: 0px;
               font-size: 30px;
               color: var(--primary_color);
            }

            #mission p{       
                margin-top: 5px;            
                width: 600px;
                margin-left: 50px;
                font-size: 20px;
            }

            #text{
                border: 5px solid var(--primary_color0);
                border-radius: 10px;
                width: 800px;
                height: 400px;
                margin-left: 250px;
            }

            #mission img{
                background-color: white;
                width: 360px ;
                height: 300px;
                position: relative;
                padding: 5px;
                top: -350px;
                left: 950px;
                border: 5px solid var(--primary_color0);
            }

/* Our program model... */
#thirdPage{
    background-color: var(--secondary_color0);
    margin: 0px;
}   

        #thirdPage h1{
            margin-top: 50px;
            font-size: 30px;
            color: var(--primary_color);
            text-align: center;
        }

        #container2{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cont_img{
            width: 290px;
            height: 290px;
            border: 3px solid var(--primary_color);
            padding: 5px;
            margin: 10px;
        }
        
        .cont2{
            border: 3px solid var(--primary_color0);
            margin: 20px;
            border-radius: 10px;
            text-align: center;
            background-color: white;
            
        }
        .cont2 p{
            box-sizing: border-box;
            width: 450px;
            padding: 5px;
        }

        #cont2_3 img {
            width: 240px;
        }

/*Partners...  */
#partners{
    margin-top: 30px;
    margin: 30px auto;
    text-align: center;
    border-bottom: 3px solid var(--primary_color0);
    border-top: 3px solid var(--primary_color0);
    width: 90vw;
    
}

        #partners h1{
            margin: 5px 0px;
            font-size: 50px;
            color: var(--primary_color);
        }
        .p_img{
            width: 150px;
            height: 150px;
            margin: 30px 50px;
        }

/* Contact Us */
#contact{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

        #contact::before{
            content: '';
            background: url('img/letters.jpg') no-repeat center center/cover;
            position: absolute;
            width: 100%;
            height:700px ;
            z-index: -1;
            opacity: 0.6;
        }

        #contact h1{
            padding-top: 50px;
            font-size: 40px;
            color: var(--primary_color);
            margin: 0px;
            margin-bottom: 20px;
            border-bottom: 3px solid var(--primary_color);
        }
        
        #contact input{
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            width: 35vw;
            height: 32px;
            margin: 8px;
        }
        
        #contact textarea{
            padding: 5px;
            box-sizing: border-box;
            margin: 8px;
            width: 35vw;
            height: 210px;
            border-radius: 5px;
        }
        
        .dv{
            padding: 0px;
            margin: 0px;
            font-size:20px ;
            
        }
        
        #dv2{
            border-top: 2px solid white;
            
        }
        
        /* Send Button... */
        #f5 button{
            font-size:17px ;
            font-weight: bolder;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            width: 35vw;
            height: 32px;
            margin: 0px;
        }

        #f5 button:hover{
            background-color: var(--secondary_color0) ;
            border: 2px solid black;
            cursor: pointer;
            box-shadow: 2px 2px black;
        }

/* Footer... */
footer{
    display: flex;
    margin-top: 20px;
}

        #f_logo{
            padding: 0px 20px;
            margin: 20px 20px;
            border-right: 3px solid black;
            width: 30px;
            height: 30px;
        }
        footer h1{
            font-size: 20px;
            margin: 20px 10px;
        }

        #img_box{
            width: 100px;
            height: 30px;
            margin-top: 20px;
            margin-left: 460px ;
        }

        #img_box img{
            width: 28px;
            height: 30px;
        }
